.container {
  display: flex;
  justify-content: space-between;
}

.entry {
  padding: 1.6rem 0.6rem;
  width: 45%;
  font-size: 1.8rem;
  box-shadow: inset 0 0 0 1px #150d2b;
  border: none;
  border-radius: 0.7rem;
}
